<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>My Site</title>
</head>
<style>
    .search-bar{
        float: center;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
        border: none;
        cursor: pointer;
        }
</style>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">My Site</a>
        {% if request.session.customer_id %}
        <a class="navbar-brand" href="/product/create/">Add Products</a>
        <a class="navbar-brand" href="/category/create/">Add Categories</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>


            <ul class="navbar-nav my-2 my-lg-0 navbar-right">

                {% if request.session.customer_id %}
                <div class="search-bar">
                    <form action="/s/">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa">Search</i></button>
                    </form>
                </div>
                {% endif %}
                {% if request.session.customer_id %}
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                {% endif %}

            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- nav bar body -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>