{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">Create Account</h3>
            <form action="/signup/" method="POST">
                {% csrf_token %}
                <!-- First Name -->
                {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endif %}
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" value="{{values.first_name}}"
                        class="form-control-sm form-control" placeholder="First Name" aria-describedby="helpId">
                </div>
                <!-- Last Name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" value="{{values.last_name}}" class="form-control-sm form-control"
                        placeholder="Last Name" aria-describedby="helpId">
                </div>
                <!-- Phone Number -->
                <div class="form-group">
                    <label for="">Mobile No.</label>
                    <input type="Number" name="mobile" value="{{values.mobile}}" class="form-control-sm form-control"
                        placeholder="0123456789" aria-describedby="helpId">
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="">E-Mail</label>
                    <input required type="email" name="email" value="{{values.email}}"
                        class="form-control-sm form-control" placeholder="example@email.com" aria-describedby="helpId">
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input required type="password" name="password" id="" class="form-control-sm form-control"
                        placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}